.citation{
  display: flex;
    justify-content: center
}
.wrapper{
  border: 1px solid;
  height: 100%;
  display: flex
}
#armor{
  float: left
}
img{
   float: right ;
   padding: 20px
}

body{
  margin: 0px
}

.container{
  border: 1px solid;
  width: 100vw;

}
p{
  max-width: 700px;
  padding-left: 30px;
  line-height: 1.3em;
  font-size: 1.3em
}
h1{
  margin: auto;
  font-family: ivypresto-display, serif;
font-weight: 700;
font-style: normal;
font-size: 10em;
justify-content: center;
padding-left: 30px;

}

h2{
max-width: 600px;
padding-left: 30px;
line-height: 1.2em
}

#right{
  align-items: right
}
a{
  color: black;
  text-decoration: none
}
a:visited{
  color: black
}
a:hover{
  color:magenta
}



@media only screen and (min-width: 375px) {
  .wrapper{

    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
    /* border: 1px solid; */
    width: 100%;
  }
  p{
    max-width: 700px;
    padding: 30px;
    line-height: 1.3em;
    font-size: 1.3em
  }

  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
  justify-content: center;
  padding: 10px
  }

  h2{
  max-width: 600px;
  padding: 10px;
  line-height: 1.2em;
  font-size: 1em
  }

  #right{
display: none
  }
  .mobile{
  display: flex;
  flex-direction: column;
  }
}
@media only screen and (min-width: 425px) {
  .wrapper{

    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
    border: 1px solid;
    width: 100%;
  }
  p{
    max-width: 800px;
    padding-left: 30px;
    line-height: 1.3em;
    font-size: 1.3em
  }

  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4em;
  justify-content: center;
  padding: 20px
  }

  h2{
  max-width: 600px;
  padding: 10px;
  line-height: 1.2em;
  font-size: 1em
  }

  #right{
  display:none
  }
  .mobile{
  display: flex;
  flex-direction: column;
  }
}
@media only screen and (min-width: 600px) {
  .wrapper{

    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
    border: 1px solid;
    width: 100vw;
  }


  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 7em;
  justify-content: center;
    line-height: 1em;
  padding-left: 20px
  }

  h2{
  max-width: 700px;
  padding-left: 20px;
  line-height: 1.2em;
  font-size: 1.3em
  }

  #right{
display: none
  }
  .mobile{
  display: flex;
  flex-direction: column;
  }
}

@media only screen and (min-width: 800px) {
  .wrapper{

    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
    border: 1px solid;
    width: 100vw;


  }
  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 5em;
  justify-content: center;
    line-height: 1em;
  padding-left: 30px
  }

  h2{
  max-width: 700px;
  padding-left: 30px;
  line-height: 1.2em;
  font-size: 1.5em
  }

  #right{
    display: none
  }
  .mobile{
  display: flex;
  flex-direction: column;
  }
}

@media only screen and (min-width: 1000px) {
  .wrapper{

    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
    border: 1px solid;
    width: 100vw;


  }
  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 6em;
  justify-content: center;
  line-height: 1em;
  padding-left: 30px
  }

  h2{
  max-width: 700px;
  padding-left: 30px;
  line-height: 1.2em;
  font-size: 1.5em
  }

  #right{
    display: flex;
    flex-direction: column;
  }
  .mobile{
  display: none
  }
}

@media only screen and (min-width: 1200px) {
  .wrapper{

    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
    border: 1px solid;
    width: 100vw;


  }
  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 7em;
  justify-content: center;
  line-height: 1em;
  padding-left: 30px
  }

  h2{
  max-width: 700px;
  padding-left: 30px;
  line-height: 1.2em;
  font-size: 1.5em
  }

  #right{
    align-items: right
  }
  .mobile{
  display: none
  }
}
@media only screen and (min-width: 1400px) {
  .wrapper{
  border: 1px solid;
    height: 100%;
    display: flex
  }
  body{
    margin: 0px
  }

  .container{
  border: 1px solid;
    width: 100%;
    height: 100%
  }
  h1{
    margin: auto;
    font-family: ivypresto-display, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 9em;
  justify-content: center;
  line-height: 1em;
  padding-left: 30px
  }

  h2{
  max-width: 700px;
  padding-left: 30px;
  line-height: 1.2em;
  font-size: 1.5em
  }
  p{
    max-width: 850px;
    padding-left: 30px;
    line-height: 1.3em;
    font-size: 1.3em
  }
  #right{
    align-items: right;

  }
.mobile{
display: none
}
}
