.book{
  border: 1px solid;
  width: 100px;
  height: 90vh;
}
#container{
  display: flex;
  width: 100%;
  margin-top: 80px;
  height: 100vh;
  justify-content: space-between;
  align-items: baseline;
}
p{
  margin: 0px
}

a:hover{
  transform: rotate(-25deg);
}
/* #one{
  transform: rotate(-90deg);
  font-size: 40px;
} */
@media only screen and (max-width: 1200px){
  /* #container{
    display: flex;
    width: 100%;
    margin-top: 80px;
    justify-content: space-between;
  } */

  /* a:hover{
    transform: rotate(3deg);
  } */
  #one{
    position: absolute;
    transform: rotate(-170deg);
    margin-left: 100px;
    margin-top: 200px;
    height: 70%;

  }

  #two{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 400px;
    margin-top: 500px;
    height: 70%;
  }
  #three{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 450px;
    margin-top: 400px;
    height: 70%
  }
  #four{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 300px;
    margin-top: 300px;
    height: 70%
  }
  #five{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 240px;
    margin-top: 200px;
    height: 70%
  }
  #six{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 70px;
    margin-top: 100px;
    height: 70%
  }
  #seven{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 40px;
    margin-top: 0px;
    height: 70%
  }
  #eight{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 0px;
    margin-top: 0px;
    height: 70%
  }
  #nine{
    position: relative;
    /* transform: rotate(-170deg); */
    margin-left: 0px;
    margin-right: 100px
    /* margin-top: 200px; */
    /* height: 70%; */
  }
@media only screen and (max-width: 992px){
}
/*
body{
  border: 3px solid;
  width: 100vh
} */
