
img:hover{
filter: drop-shadow(10px 15px 10px red)
}
body{
  margin: 0px
}
/* img:hover{
filter: saturate(500%);
} */


.nav{
  display: flex;
  overflow: scroll;
  width: 90vw;
  margin: auto
}

#refresh{
  background-color: white;
  border: solid 1px red
}

#refresh:hover{
  background-color: black
}

a{
  color: red;
}

a{
  text-decoration: none
}
span{
  text-align: center;
  color: white;
  font-family: Optima;
  font-size: 2em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  background-color: red;
  border-radius: 50%;
  padding: 10px;
  width: 15vw;
  margin: 10px
}

span:hover{
  background-color: black;
  color: red
}

#circle{
  width: 100px;
  height: 100px;
  background: black
}

.furniture-image{
  position: absolute;
  height: 200px;
}
@media only screen and (min-width: 375px) {
  .furniture-image{
    position: absolute;
    height: 120px
  }
  span{
    text-align: center;
    color: white;
    font-family: Optima;
    font-size: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    width: 15vw;
    margin: 10px;
  }
}
@media only screen and (min-width: 425px) {
  .furniture-image{
    position: absolute;
    height: 110px
  }
}
@media only screen and (min-width: 600px) {
  .furniture-image{
    position: absolute;
    height: 120px
  }

}

@media only screen and (min-width: 800px) {
  .furniture-image{
    position: absolute;
    height: 140px
  }
  span{
    text-align: center;
    color: white;
    font-family: Optima;
    font-size: 1.5em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    width: 15vw;
    margin: 10px
  }
}

@media only screen and (min-width: 1000px) {
  .furniture-image{
    position: absolute;
    height: 165px
  }
  span{
    text-align: center;
    color: white;
    font-family: Optima;
    font-size: 1.7em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    width: 15vw;
    margin: 10px
  }
}

@media only screen and (min-width: 1200px) {
  .furniture-image{
    position: absolute;
    height: 180px
  }
  span{
    text-align: center;
    color: white;
    font-family: Optima;
    font-size: 1.8em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    width: 15vw;
    margin: 10px
  }
}
@media only screen and (min-width: 1400px) {
  .furniture-image{
    position: absolute;
    height: 200px
  }
  span{
    text-align: center;
    color: white;
    font-family: Optima;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    width: 15vw;
    margin: 10px
  }
}
