.container{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
font-size: 18px;
  font-family: kepler-std-display, serif;
font-weight: 400;
font-style: normal;
word-spacing: 0.1em;
}
p{
  font-family: kepler-std-display, serif;
font-weight: 400;
font-style: normal;
word-spacing: 0.1em;
  max-width: 500px;
  text-align: center;

}
/* .wrapper{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
} */
/* #h1{
  font-family: ivypresto-display, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  max-width: 900px;
  text-align: right;
  margin-left: 50%;
  height: 100vh;
} */
.wrapper{
  height: 100vh;
  width: 100vw
}
#one{
  position: relative;
left: 700px;
top:400px;
  z-index: 0
}
#two{
  position: relative;
left: 700px;
top:300px;
  z-index: 2
}

#three{
  position: relative;
left: 700px;
top:300px;
  z-index: 3
}
#four{
  position: relative;
left: 700px;
top:200px;
  z-index: 3
}
