.container{
  display: block;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
  font-family: kepler-std-display, serif;
font-weight: 400;
font-size: 18px;
font-style: normal;
text-justify:inter-word;
word-spacing: 0.1em
}
.wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center

}
p{
  max-width: 500px
}

.ivypresto{
  font-family: ivypresto-display, serif;
font-weight: 100;
font-style: italic;
font-size: 30px
}

a:hover{
  color: black
}

.word{
  color: white
}

.container2{
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: kepler-std-display, serif;
font-weight: 400;
font-size: 18px;
font-style: normal;
text-justify:inter-word;
word-spacing: 0.1em
}

@media only screen and (max-width: 600px) {
  #ivy{
    display: none
  }
  #ivy2{
    display: none
  }
  #ivy3{
    display: none
  }
  #ivy4{
    display: none
  }
  #ivy5{
    display: none
  }
  #ivy6{
    display: none
  }
  #ivy7{
    display: flex
  }
  #img_one{
    display: none
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #ivy{
    display: none
  }
  #ivy2{
    display: none
  }
  #ivy3{
    display: none
  }
  #ivy4{
    display: none
  }
  #ivy5{
    display: flex
  }
  #ivy6{
    display: none
  }
  #ivy7{
    display: none
  }
  #img_two{
    display: none
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  #ivy{
    display: none
  }
  #ivy2{
    display: none
  }
  #ivy3{
    display: none
  }
  #ivy4{
    display: flex
  }
  #ivy5{
    display: none
  }
  #ivy6{
    display: none
  }
  #ivy7{
    display: none
  }
  #img_two{
    display: none
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1000px) {
  #ivy{
    display: none
  }
  #ivy2{
    display: none
  }
  #ivy3{
    display: flex
  }
  #ivy4{
    display: none
  }
  #ivy5{
    display: none
  }
  #ivy6{
    display: none
  }
  #ivy7{
    display: none
  }
  #img_two{
    display: none
  }
}
@media only screen and (min-width: 1200px) {
  #ivy{
    display: none
  }
  #ivy2{
    display: flex
  }
  #ivy3{
    display: none
  }
  #ivy4{
    display: none
  }
  #ivy5{
    display: none
  }
  #ivy6{
    display: none
  }
  #ivy7{
    display: none
  }
  #img_two{
    display: none
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
#ivy{
  display: flex
}
#ivy2{
  display: none
}
#ivy3{
  display: none
}
#ivy4{
  display: none
}
#ivy5{
  display: none
}
#ivy6{
  display: none
}
#ivy7{
  display: none
}
#img_two{
  display: none
}

}
