.container{
  display: block;
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */

}
.wrapper{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center

}
p{
  max-width: 600px
}

#ivypresto{
  font-family: ivypresto-display, serif;
font-weight: 100;
font-style: italic;
font-size: 30px
}

a:hover{
  color: black
}

.word{
  color: white
}

.container2{
  display: flex;
  height: 100vh;
  text-align: center;
  justify-content: center;
  align-items: center
}
