/* .book{
  border: 1px solid;
  width: 100px;
  height: 90vh;
} */
body{
  margin: 0px
}
.book{
  height: 100vh;
  display: flex;
  text-align: right;
  transform: rotate(-180deg);
}
/* #container{
  display: flex;
  width: 100%;
  margin-top: 80px;
  height: 100vh;
  justify-content: space-between;
  align-items: baseline;
} */

.flex{
  display: flex;
  justify-content:center;
}

p{
  margin: 0px;
  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: normal;
font-size: 5.5em;
text-align: left;
writing-mode: vertical-rl;
text-orientation:sideways;
}
#one{
  position: relative
}
#two{
  position: relative
}
#three{
  position: relative
}
#four{
  position: relative
}
#five{
  position: relative
}
#six{
  position: relative
}
#seven{
  position: relative
}
#eight{
  position: relative
}
#nine{
  position: relative
}

a{
text-decoration: none;
color: black
}
a:visited{
  color: black
}

a:hover{
  color: gray
}

.mobile{
  display: inline-block;
  margin: 10px;
  margin-right: 40px;
font-size: 0.45em
}

/* .mobile{
  border: 1px solid red;
  font-size: 0.3em;

}
.book2{
  border: 1px solid green;
  max-width: 20px;
    transform: rotate(-90deg);
    position: absolute;
    left: 100px;
  margin-top: 20px
}

#one{
  right: 200px;
  left: 300px;

} */

.wrapper{
  display: block
}



@media only screen and (min-width: 320px) {
  p{
    font-size: 5em
  }

  #shelf_index{
    display: none
  }
  #shelf2{
    display: flex
  }
  .book{
display: none
  }
  .wrapper{
    display: block
  }
  #mobile1{
    transform: rotate(0deg);
  }
  #mobile2{
    transform: rotate(0deg);
  }
  #mobile3{
    transform: rotate(0deg);
  }
  #mobile4{
    transform: rotate(0deg);
  }
  #mobile5{
    transform: rotate(0deg);
  }
  #mobile5{
    transform: rotate(0deg);

  }
  #mobile6{
    transform: rotate(0deg);
  }
}
@media only screen and (min-width: 375px) {
  p{
    font-size: 5em
  }

  #shelf_index{
    display: none
  }
  #shelf2{
    display: flex
  }
  .book{
display: none
  }
  .wrapper{
    display: block
  }

}

@media only screen and (min-width: 425px) {
  #one{
    position: relative;
    top: 390px;
    transform: rotate(90deg);
    right: 700px}
  #two{
    transform: rotate(90deg);
    right: 550px;
    top:130px
    }
    #eight{
      position: relative;
      top: 210px;
      transform: rotate(90deg);

      left:100px
    }
    #nine{
      position: relative;
      top: 290px;
      transform: rotate(90deg);
      left: 300px}

  p{
    font-size: 5em
  }
  #shelf1{
    display: none
  }
  #shelf2{
    display: none
  }
  #shelf_index{
    display: flex
  }
  .book{
display: flex
  }
  .wrapper{
    display: none
  }
}
@media only screen and (min-width: 600px) {

    #one{
      position: relative;
      top: 390px;
      transform: rotate(90deg);
      right: 700px}
    #two{
      transform: rotate(90deg);
      right: 550px;
      top:130px
      }
      #eight{
        position: relative;
        top: 210px;
        transform: rotate(90deg);

        left:100px
      }
      #nine{
        position: relative;
        top: 290px;
        transform: rotate(90deg);
        left: 300px}
    }
    p{
      font-size: 5.5em
    }
    #shelf1{
      display: none
    }
    #shelf2{
      display: none
    }
    /* .wrapper{
      display: none
    } */
}
/* Small devices (portrait tablets and large phones, 600px and up) */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 900px) {
  #one{
    position: relative;
    top: 400px;
    transform: rotate(85deg);
    right: 480px}
  #two{
    transform: rotate(120deg);
    right: 350px;
    top:20px
    }
    #eight{
      position: relative;
      top: 130px;
      transform: rotate(-50deg);
      left:370px
    }
    #nine{
      position: relative;
      top: 240px;
      transform: rotate(-50deg);
      left: 500px}
      p{
        font-size: 5.5em
      }
      /* .wrapper{
        display: none
      } */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1100px) {

  #one{
    position: relative;
    top: 300px;
    transform: rotate(85deg);
    right: 450px}
  #two{
    transform: rotate(80deg);
    right: 350px;
    top:200px
    }
    #eight{
      position: relative;
      top: 100px;
      transform: rotate(-40deg);
      left:300px
    }
    #nine{
      position: relative;
      top: 30px;
      transform: rotate(-40deg);
      left: 240px}
      p{
        font-size: 5.5em
      }
      .mobile{
        display: none
      }
      #shelf2{
        display: none
      }
      /* .wrapper{
        display: none
      } */
}
@media only screen and (min-width: 1200px) {
  /* #one{
  position:relative;
  top: 500px;
  transform: rotate(80deg);
  } */
  #one{
    position: relative;
    top: 280px;
    transform: rotate(55deg);
    right: 400px}
  #two{
    transform: rotate(20deg);
    right: 50px;
    top:0px
    }
    #eight{
      position: relative;
      top: 0;
      transform: rotate(-20deg);
      left:130px
    }
    #nine{
      position: relative;
      top: 0;
      transform: rotate(-30deg);
      left: 170px}
      p{
        font-size: 5.5em
      }
      /* .wrapper{
        display: none
      } */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
#one{
transform: rotate(15deg);
top: 0px;

right: 0px
}
#two{
transform: rotate(10deg);
right: 0px;
top:0px
}
#eight{
  position: relative;
  top: 0;
  transform: rotate(0deg);
  left:0
}
#nine{
transform: rotate(-15deg);
position: relative;
top: 0;

left: 0}
p{
  font-size: 5.5em
}

.wrapper{
  display: none
}
#shelf_index{
  display: flex
}
.book{
display: flex
}
}

/* @media only screen and (min-width: 1550px) {
  #shelf_index{
    display: none
  }
.instruction{
  margin: 0px;
  font-family: ivypresto-display, serif;
  font-weight: 400;
  font-style: normal;
}
} */
