
/* p{
  text-align: center
} */
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: kepler-std-display, serif;
font-weight: 400;
font-size: 1.5em;
font-style: normal;
text-align: center;
}
.middle{
  line-height: 5.5em;
}

#intro{
  text-align: center;
  max-width: 410px
}
a{
  color: black;
  font-family: kepler-std-display, serif;
font-weight: 700;
font-style: normal;
text-decoration: none
}
a:hover{
  color: gray
}
/* .container2{
  height: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: kepler-std-display, serif;
font-weight: 400;
font-style: normal;
} */

/* @media only screen and (max-width: 699px){
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: flex
  }
}
@media only screen and (min-width: 699px) (max-width: 799px){
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: flex
  }
  #tree9{
    display: none
  }
}
@media only screen and (min-width: 800px) (max-width: 899px){
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: flex
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
}
@media only screen and (min-width: 900px) (max-width: 999px){
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: flex
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
}

@media only screen and (min-width: 1000px) (max-width: 1199px){
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: flex
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
}

@media only screen and (min-width: 1200px)(max-width: 1299px) {
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: flex
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
}

@media only screen and (min-width: 1300px)(max-width: 1399px) {
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: flex
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
}

@media only screen and (min-width: 1400px)(max-width: 1499px) {
  #tree{
    display: none
  }
  #tree2{
  display: flex
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
}

@media only screen and (min-width: 1500px) {
  #tree{
    display: flex
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: none
  }
  #tree9{
    display: none
  }
} */

/* @media only screen and (max-width: 600px) {
  #tree{
    display: none
}
  #tree2{
    display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #tree8{
    display: flex
  }
  #tree9{
    display: none
  } */
  @media only screen and (min-width: 320px) {
    #tree{
      display: none
  }
    #tree2{
      display: none
    }
    #tree3{
      display: none
    }
    #tree4{
      display: none
    }
    #tree5{
      display: none
    }
    #tree6{
      display: none
    }
    #tree7{
      display: flex
    }
    .container{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: kepler-std-display, serif;
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    text-align: center;
    }
    #img_one{
      display: none
    }
    .middle{
      font-size: 0.92em
    }
  }
  @media only screen and (min-width: 375px) {
    #tree{
      display: none
  }
    #tree2{
      display: none
    }
    #tree3{
      display: none
    }
    #tree4{
      display: none
    }
    #tree5{
      display: none
    }
    #tree6{
      display: none
    }
    #tree7{
      display: flex
    }
    .container{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: kepler-std-display, serif;
    font-weight: 400;
    font-size: 1em;
    font-style: normal;
    text-align: center;
    }
    #img_one{
      display: none
    }
    .middle{
      font-size: 0.98em
    }
    #intro{
      text-align: center;
      max-width: 300px
    }
  }
/* @media only screen and (max-width: 600px) {
  #tree{
    display: none
}
  #tree2{
    display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: flex
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: kepler-std-display, serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  }
} */

@media only screen and (min-width: 425px) {
  #tree{
    display: none
}
  #tree2{
    display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: flex
  }
  #tree7{
    display: none
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: kepler-std-display, serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  }
  .middle{
    line-height: 5.5em;
  }

  #intro{
    text-align: center;
    max-width: 410px
  }

}

@media only screen and (min-width: 600px) {
  #tree{
    display: none
}
  #tree2{
    display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: flex
  }
  #tree7{
    display: none
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: kepler-std-display, serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  }
  .middle{
    line-height: 5.5em;
  }

  #intro{
    text-align: center;
    max-width: 410px
  }

}


@media only screen and (min-width: 768px) {
  #tree{
    display: none
}
  #tree2{
    display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: flex
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #img_two{
    display: flex
  }
  #img_one{
    display: none
  }
}


@media only screen and (min-width: 800px) {
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: flex
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #img_one{
    display: flex
  }
  #img_two{
    display: none
  }
}
@media only screen and (min-width: 892px) {
  #tree{
    display: none
  }
  #tree2{
  display: none
  }
  #tree3{
    display: flex
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #img_one{
    display: flex
  }
  #img_two{
    display: none
  }
}
@media only screen and (min-width: 1024px) {
  #tree{
    display: none
  }
  #tree2{
  display: flex
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  #img_one{
    display: flex
  }
  #img_two{
    display: none
  }
}


@media only screen and (min-width: 1200px) {
  #tree{
    display: flex
  }
  #tree2{
  display: none
  }
  #tree3{
    display: none
  }
  #tree4{
    display: none
  }
  #tree5{
    display: none
  }
  #tree6{
    display: none
  }
  #tree7{
    display: none
  }
  .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: kepler-std-display, serif;
  font-weight: 400;
  font-size: 1.5em;
  font-style: normal;
  text-align: center;
  }
  .middle{
    line-height: 5.5em;
  }

  #intro{
    text-align: center;
    max-width: 410px
  }
  #img_one{
    display: flex
  }
  #img_two{
    display: none
  }
}
