
body{
  background-color: beige
}
p{
  position: absolute;
  font-size: 90px;
  font-family: sans-serif;
  color: beige;
  margin: 0px
}
.container{
  display: flex;
justify-content: center
}
#shape{
  width: 100px;
  height: 100px;
  background-color: blue;
  animation-name: shape;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#shape2{
  width: 100px;
  height: 100px;
  background-color: blue;
  animation-name: shape2;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#shape3{
  width: 400px;
  height: 400px;
  background-color: blue;
  animation-name: shape3;
  animation-duration: 5s;
  animation-iteration-count: infinite;


}


@keyframes shape {
  0%   {background-color: blue; width: 0px;}
  25%  {background-color: goldenrod;width: }
  50%  {background-color: pink;width: 700px}
  100% {background-color: green;width: 0px}
}

@keyframes shape2 {
  0%   {background-color: blue; height: 0px}

  50%  {background-color: pink;height: 100vh}
  100% {background-color: purple; height: 0px}
}

@keyframes shape3 {
  0%   {background-color: blue; border-radius: 50% 75% 50% 0 }
  25%  {background-color: goldenrod;border-radius:  75% 50% 0 50%}
  50%  {background-color: pink;border-radius: 50% 0 50% 75% }
  100% {background-color: green;border-radius: 0 50% 75% 50%}

}




@media only screen and (min-width: 1025px) {
  #shape{
    display: flex
  }
  #shape2{
    display: none
  }
  #shape3{
    display: none
  }
}


@media only screen and (max-width: 1024px){
  #shape{
    display: none;
  }
  #shape2{
    display: flex;
  }
  #shape3{
    display: none;
  }
  #alice{
    display: none
  }
}


@media only screen and (max-width: 767px){
  #shape{
    display: none
  }
  #shape2{
    display: none
  }
  #shape3{
    display: flex;

  }
}





/*
@media only screen and (max-width: 600px) {
  #shape{
    display: none;
  }
  #shape2{
    display: none;
  }

}

@media only screen and (max-width: 992px){
  #shape{
    display: none;
  }

  #shape3{
    display: none;
  }
}

@media only screen and (min-width: 1200px){

  #shape2{
    display: none;
  }
  #shape3{
    display: none;
  }
} */
